h1 {
  font-size: 80px;
  padding-left: 20px;
  color: #142d4c;
}

h2 {
  font-size: 30px;
}

li {
  text-align: center;
  font-size: 20px;
  background: linear-gradient(
    95.2deg,
    rgb(173, 252, 234) 26.8%,
    rgb(192, 229, 246) 64%
  );
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(148, 241, 246) 0%,
    rgb(148, 189, 246) 100.7%
  );
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

span {
  font-size: 50px;
  font-weight: bold;
}
.search {
  padding: 25px;
  font-size: 25px;
}

.condition {
  text-transform: capitalize;
  font-size: 50px;
  line-height: 10px;
  padding-bottom: 5px;
}

.picture {
  padding-bottom: 60px;
}

.units {
  position: relative;
  top: -32px;
}

.temp {
  font-size: 100px;
  color: #142d4c;
  font-weight: 900;
}

.humidity {
  font-size: 17px;
  color: #142d4c;
}

.open-source {
  padding: 20px;
}
